<template>
   <h1>About</h1>

   <p>name : {{ data.name }}</p>
   <p>age : {{ data.age }}</p>

   <button @click="() => changeData(data)">change data</button>
</template>

<script>
   import { reactive } from "vue";
   import changeData from "../use/changeData.js";

   export default {
      setup() {
         const data = reactive({
            name: "farhan",
            age: 19,
         });

         return {
            data,
            changeData,
         };
      },
   };
</script>

<style></style>
