<template>
   <h1>{{ name }} : {{ age }}</h1>

   <p ref="paragraf">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, eaque
      quis illum nulla eum magnam soluta quidem blanditiis asperiores animi
      culpa alias tempora fugiat, ipsam deserunt pariatur. Blanditiis, labore
      explicabo.
   </p>

   <h2>{{ lastName }}</h2>
   <input type="text" v-model="lastName" />

   <br /><br />

   <button @click="onClick">click me</button>

   <br /><br />

   <h1>Reactive</h1>
   <p>{{ username.name }} : {{ username.id }}</p>
   <button @click="onReactive">change reactive value</button>

   <br /><br />

   <p>search term - {{ search }}</p>
   <input type="text" v-model="search" />
   <br />
   <div v-for="user in matchingUser" :key="user">
      {{ user }}
   </div>

   <button @click="handleStop">stop the watch</button>

   <br /><br />
   <br /><br />
   <br /><br />
   <br /><br />
</template>

<script>
   import { ref, reactive, computed, watch, watchEffect } from "vue";

   export default {
      name: "Home",

      setup() {
         const paragraf = ref(null);
         const lastName = ref("apriliandi");

         const search = ref("");
         const users = ref([
            "parhan",
            "farhan",
            "apriliandi",
            "parhan apriliandi",
            "farhan apriliandi",
         ]);

         const matchingUser = computed(() => {
            return users.value.filter((user) => user.includes(search.value));
         });

         const username = reactive({
            name: "apriliandi246",
            id: 246,
         });

         let name = "farhan apriliandi";
         let age = 20;

         function onClick() {
            console.log(paragraf);
            console.log(paragraf.value.textContent);
         }

         function onReactive() {
            username.name = Math.random();
            username.id = username.id + 2;
         }

         // will run when search value change
         const stopIt = watch(search, () => {
            console.log(matchingUser.value);
         });

         // run when web already load
         // and run when soemthing change if we include in the function
         watchEffect(() => {
            console.log("search ", search);
         });

         function handleStop() {
            stopIt();
         }

         return {
            name,
            age,
            paragraf,
            lastName,
            username,
            onClick,
            onReactive,
            users,
            search,
            matchingUser,
            handleStop,
         };
      },
   };
</script>
