<template>
   <div class="container">
      <button @click="showPosts = !showPosts">toggle posts</button>
      <button @click="addData">add data</button>
      <button @click="removeData" v-if="posts.length > 0">remove data</button>

      <br />

      <PostList v-if="showPosts" :posts="posts" />
   </div>
</template>

<script>
   import useData from "../use/useData";

   import { ref } from "vue";
   import PostList from "../components/PostList.vue";

   export default {
      components: { PostList },

      setup() {
         const showPosts = ref(true);
         const { posts, addData, removeData } = useData();

         return { posts, showPosts, addData, removeData };
      },
   };
</script>

<style scoped>
   .container {
      padding: 20px;
   }

   button {
      cursor: pointer;
      margin-right: 16px;
   }
</style>
